.mt0 {margin-top: 0};
.mt1 {margin-top: 1rem;}
.mt2 {margin-top: 2rem;}
.mt3 {margin-top: 3rem;}
.mt4 {margin-top: 4rem;}
.mt6 {margin-top: 6rem;}
.mtauto {margin-top: auto;}
.mb0 {margin-bottom: 0;}
.mb4 {margin-bottom: 4rem;}
.mb8 {margin-bottom: 8rem;}
.ptb {padding: 2rem 0;}
.pt5 {padding-top: 5rem;}
.fs3 {font-size: 3rem;}
.fs-3 {font-size: 3rem;}
.fs5 {font-size: 5rem;padding-bottom: 0;}
.pl1 {padding-left: 1rem;}

.cursive {
    font-style: italic;
}
.grey {
    background-color: #f5f5f5;
}
.pink {
    background-color: #F8CDC0;
    margin-top: 1rem;
    padding: 3rem;
}
.black {
    color: #000000;
}
.bold {
    font-weight: 500;
}
hr.white {
    width: 250px;
    height: 2px;
    border-color: #fff;
    padding-bottom: 1rem;
}
.big {
    font-size: 32px;
}
.abril {
    font-family: 'Abril Fatface', serif;
}
.page-scroller {
    color: #fff;
}
.small {
    font-size: 18px;
}
.clipping {
    clip-path: polygon(0 0, 100% 24%, 100% 74%, 0% 100%);
    blockquote {
        padding: 1rem;
        margin: 8rem 4rem 3rem 4rem;
        text-align: left;
        font-size: 3rem;
    }    
}
.clipping-top-bottom {
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 85%);
}
.clipping-top {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}
.clipping-bottom {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.center {
    text-align: center;
}
.margin-center {
    margin: 0 auto;
}
// .left {
//     text-align: left;
// }
.quote {
    quotes: "“" "”" "‘" "’";
  
  &::before {
      content: open-quote;
  }
  &::after {
    content: close-quote;
    }      
}
.inline-quote {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
}
.grecaptcha-badge{
	visibility: collapse !important;  
}
.ani {
    position: relative;
    span {
        position: absolute;
        top: 0;
        left: 37%;
    }
}
.in {
    position: absolute;
    right: 11%;
}
.hidden {
    display: none;
}
.mc {
    padding-top: 2rem;
    input {
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
    }
}
.testimonial {
    border-top: solid 1px black;
    padding-top: 1rem;
    p {
        margin-bottom: 0.5rem;
    }
}
.name {
    font-style: italic;
    font-size: 1rem;
    text-align: right;
}
.dropdown-menu {
    background-color: rgba(255, 255, 255, .6);
}