
/* homepage sections */
section#one {
    text-align: center;
    padding-bottom: 4rem;
    p {
        font-size: 1.4rem;
    }
}
section#two {
    p {
        font-family: "EB Garamond";
        font-size: 22px;
    }
    .btn {
        margin-top: 2rem;
    }
}
section#three.clipping {
    background-image: url('/wp-content/uploads/2020/09/img_03095_compressed.jpg');
    background-size: cover;
    display: block;
    min-height: 500px;
    margin: 3rem 0;
    clip-path: polygon(0 0, 100% 34%, 100% 74%, 0% 100%);
    /* clip-path: polygon(0 19%, 100% 0, 100% 85%, 0 100%); */
    background-position: 0 0;
}
section#four {
    padding: 2rem 0;
    background-color: #f9e2c4;
    margin-top: 3rem;
}
section#six {
    background-image: url('/wp-content/uploads/2019/09/black-and-white-casual-colleagues-1457685.jpg');
    min-height: 300px;    
    height: 300px;
    background-size: cover;    
    background-position: center;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 14%, 100% 86%, 0% 100%);

}
section#seven {
    margin-top: -44px;
    padding-top: 6rem;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 85%);
        background-color: #fcc6a7;
    min-height: 400px;
    height: 400px;
}
section#eight {
    min-height: 300px;
    padding-top: 3rem;
}
section#nine {
    background-image: url('/wp-content/uploads/2020/07/adult-beautiful-couple-2403200.jpg');
    min-height: 300px;    
    height: 600px;
    background-size: cover;    
    background-position: bottom center;
    background-attachment: fixed;
}
section#logos {
    color: #878484;
    font-weight: 400;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    a:hover {
        text-decoration: none;
    }
    img {
        padding: 0.5rem;
    }
    .svg.one {
        filter: grayscale(1) brightness(1);
    }
    .svg.onehalf {
        filter: grayscale(1) brightness(1.5);
    }
    .svg.two {
        filter: grayscale(1) brightness(2);
    }
    .svg.three {
        filter: grayscale(1) brightness(3);
    }
    .svg.four {
        filter: grayscale(1) brightness(4);
    }
    .png, .svg {
        max-width: 150px;
        max-height: 65px;
    }
}
section#nine .qd {
    font-size: 2rem;
    margin: auto;
}
section.testimonials {
    background-color: #f2f2f2;
}
section#lean {
    padding-bottom: 2rem;
}
.home .entry-title {
    display: none;
}
