/* block classes */

.wp-block-quote.is-large, 
.wp-block-quote.is-style-large,
.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}
.wp-block-cover, .wp-block-cover-image {
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    min-height: 360px;
}
.wp-block-media-text {
    .wp-block-media-text__content{
	    background-color: #fcc6a7;
        margin-top: 1rem;
        padding: 3rem;
    }
    >figure>img, 
    >figure>video {
	    max-width: 500px;
    }
}
.wp-block-button {
	color: black;	
}
.wp-block-button__link {
    color: #000;
    background-color: #fff;
    border: solid 1px #000;
    margin-top: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
        &:visited {
            color: #000;
        }
}
.wp-block-group {
    padding: 1rem 0;
}
.wp-block-group__inner-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
